header
  .container-fluid.custom-container
    .row.no_row.row-header
      .brand-be
        a(href='/')
          img.logo-c.active.be_logo(src='images/logo.png', alt='logo')
          img.logo-c.be_logo(src='images/logo-green.png', alt='logo2')
          img.logo-c.be_logo(src='images/logo-orang.png', alt='logo3')
          img.logo-c.be_logo(src='images/logo-red.png', alt='logo4')
      .header-menu-block
        button.cmn-toggle-switch.cmn-toggle-switch__htx
          span
        ul#one.header-menu
          li
            a(href='/corporate') Corporate Profiles
          li
            a(href='/nonprofit') Nonprofit Profiles
          li
            a(href='search.html') Discover
            ul
              li
                a(href='search.html') Explore
              li
                a(href='people.html') People
              li
                a(href='gallery.html') Galleries
