extends layout

block content
  .head-bg
    .head-bg-img
    .head-bg-content
      p Dzntrl public key auth model prototype. Please visit 
        a(href="/getting-in") create/login
        page to try the prototype
      div#root!= content
  script(src="/dist/Index.js")