extends layout

block content
  .head-bg
    .head-bg-img
    .head-bg-content
      p Dzntrl 
        b trustless 
        public key auth model prototype. Please visit 
         a(href="/getting-in") account section 
         page to try the prototype
      p If you would like to learn more about this project, please visit 
        a(href="/faqs") FAQs
          
      p Find the code for the this project
       a(href="https://github.com/jbotw-proweb")  here
      
      p How to use from Windows
      iframe(width="1024", height="768" src="https://rumble.com/embed/vp7wnv/?pub=vyh9z")
      div#root!= content
  script(src="/dist/Index.js")